:root {
    --spotify-green: #1DB954;
    --spotify-green-hover: #15833b;
    --spotify-white: #FFFFFF;
    --spotify-black: #191414;
    --app-grey: #d1d1d1;
    --app-blue: #121F2B;
    --app-blue-shadow:#0d1720;
    --app-transition: 0.3s;
}
  
html {
  scroll-behavior: smooth;
}
  
::-webkit-scrollbar {
  width: 10px;
}
  
::-webkit-scrollbar-track {
  background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
  background-color: var(--spotify-green);
}
  
::-webkit-scrollbar-thumb:hover {
  background-color: var(--spotify-white);
}
  
.app-fade {
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}
  
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
  
body {
  background-color: var(--app-blue);
}
  
.app-green {
  color: var(--spotify-green);
}

.app-white {
  color: var(--spotify-white);
}

.app-blue {
  color: var(--spotify-black);
}

.app-bg-white {
  background-color: var(--spotify-white);
}
.btn.app-bg-white:hover {
  background-color: var(--app-grey);
}

.app-bg-green {
  background-color: var(--spotify-green);
}
.btn.app-bg-green:hover {
  background-color: var(--spotify-green-hover);
}

.app-navbar {
  background-color: var(--app-blue);
}

.app-vh {
  height:100vh;
}
  
.app-vh-min {
  min-height:100vh;
}

a.app-no-hover:link {
  text-decoration: none;
}
a.app-no-hover:visited {
  text-decoration: none;
}
a.app-no-hover:hover {
  text-decoration: none;
}
a.app-no-hover:active {
  text-decoration: none;
}

button {
  border-radius: 0.25rem;
}

.app-card {
  height: auto;
  width: auto;
  background-color: transparent;
  border-color: var(--spotify-green);
  transition: var(--app-transition);
}

.app-card .app-card-footer-text {
  width: 100%;
  color: var(--spotify-white);
  display: inline-block;
  vertical-align: middle;
  padding: 0.375rem 0.375rem;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-img-top {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.app-card:hover {
  box-shadow: 0 0 20px var(--spotify-green-hover) !important;
}

.card-footer {
  background-color: var(--spotify-green);
}
