{% extends "base.html" %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/landing.css') }}">
<script src="{{ url_for('static',filename='landing.js') }}"> </script>
          <div class="container" id="" style="height: 90%;">
            <div class="row container h-100">
              <div class="col-12 col-lg-6 d-flex align-items-center h-100">
                <div>
                  <h1 class="display-1 app-green">Music Timer</br><img src="{{url_for('static', filename='Spotify_Logo_RGB_Green.png')}}" class="d-inline-block align-top" width="50%" /></h1>
                  {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
                  {% if stage==1 %}
                  <p class="app-white h3">User: {{user_id}}</p><br>
                  <div class="row container px-0">
                    <div class="col-12 col-lg-6">
                        <form name="myform" method="POST" action="/playlist" id="timer" class="input-group">
                          {{ form.hidden_tag() }}
                          <!-- <fieldset>
                            <input type="number" class="form-control" id="timer" required placeholder="Timer (in Minutes)">
                            <button class="btn app-bg-green app-white" type="submit" id="button-addon2">Enter</button>
                          </fieldset> -->
                          <p class="">
                            <span class="app-white">{{form.timer.label}}</span><br>
                            <span>{{form.timer(size=20)}}{{ form.submit() }}</span>
                          </p>
                            
                        </form>
                    </div>
                  </div>
                  <script>window.history.pushState("object or string", "Title", "/");</script>
                  {% else %}
                  <p class="app-white h3">Set a timer and listen to your Spotify playlist while you wait.</p><br>
                  <form action="/timer/" method="post">
                    <button class="btn btn-lg app-bg-white app-blue px-5" type="submit" role="button">Login</button>
                  </form>
                  {% endif %}
                </div>
              </div>
              <div class="col-12 col-lg-6 d-none d-lg-block d-flex h-100">
                <div class="now playing app-bottom" id="music">
                    <span class="bar n1">A</span>
                    <span class="bar n2">B</span>
                    <span class="bar n3">c</span>
                    <span class="bar n4">D</span>
                    <span class="bar n5">E</span>
                    <span class="bar n6">F</span>
                    <span class="bar n7">G</span>
                    <span class="bar n8">H</span>
                  </div>
              </div>
              <!-- <div class="d-none d-lg-block h-100 p-0 app-right" >
                <div class="h-100">
                  <img src="{{url_for('static', filename='disc.png')}}" height="100%" class="align-top" id="" loading="lazy" alt="">
                </div>
              </div> -->
            </div>
          </div>
{% endblock %}